.background    { background: url("https://pre00.deviantart.net/8636/th/pre/f/2014/153/7/a/armello_swamp_by_cyrilcorallo-d7kqesj.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(50, 100, 100); }
.wall          { background: grey; }
.lilypad       { background: yellowgreen;border-radius: 100px;}


.actor  { position: absolute;  }
.spike { background: red;}
.coin   { background: white; }
.player { background-image: url("smallfrog.png"); }
.flower { background-image: url("flower_1.png");
			}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.left .player {
	background-image: url("frog_left.png");
}

.right .player {
	background-image: url("smallfrog.png");
}

.lost .player {
  background: rgb(255, 100, 100);
}
.won .player {
  box-shadow: -4px -7px 8px yellow, 4px -7px 8px yellow;
}
